<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".nativestrategy.spatial.NativeSpatialMarkerService"
            android:exported="false"
            android:isolatedProcess="true"
            android:process=":marker_native_remote" />
    </application>
</manifest>
